@use '../../styles/abstracts/var';
@use '../../styles/abstracts/mixin';

.services{
    background-color: var.$background-color;
    padding: 50px;
    position: relative;
    &__title{
        @include mixin.flex-center;
        color: var.$primary-color;
        font-family: var.$title-font;
        font-size: var.$size-title;
        @media (max-width: 768px){
            font-size: 60px;
        }
    }
    &__card{
        padding-top: 30px;
        @include mixin.flex-center;
        flex-wrap: wrap;
        gap: 20px;
        align-items: stretch; //permet à ce que les cartes fassent la même taille
        
    }
}