.presentation{
    display: flex;
    flex-direction: column;
    gap: 20px;
    &__text{
        line-height: 1.4;
    }
    &__button{
        display: flex;
        gap: 10px;
        @media (max-width: 768px){
            margin-top: 10px;
        }
    }
}