@use '../../styles/abstracts/var';
@use '../../styles/abstracts/mixin';

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var.$background-color;
    @include mixin.flex-center;
    z-index: 9999;
    &__image{
        width: 500px;
        height: auto;
        animation: fadeIn 3s ease-in-out;
        @media (max-width: 768px){
          width: 300px;
        }
    }
}
  
@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
}