//Color
$primary-color: #004aad;
$background-color: #e4e2dd;

//Size
$size-text: 17px;
$size-title: 75px;
$size-subtitle: 40px;

//Police
$text-font: 'Montserrat', sans-serif;
$title-font: 'Shrikhand', serif,