@use '../../styles/abstracts/var';

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    height: 50px;
    background-color: var.$background-color;
    @media (max-width: 768px) {
      padding: 20px;
    }
    &__logo {
        width: 40px;
        height: auto;
        @media (max-width: 768px) {
            width: 50px;
            height: auto;
        }
    }
    &__nav {
        height: 100%;
        &__list {
            display: flex;
            gap: 10px;
            height: 100%;
        }
        &__item{
            height: 100%;
        }
        &__item__maj {
            height: 100%;
            display: flex;
            align-items: center;
            padding: 0 20px;
            transition: background-color 0.5s, color 0.5s;
            &:hover,
            &.active {
              background-color: var.$primary-color;
              color: var.$background-color;
            }
        }
    }
}
