@use '../../styles/abstracts/mixin';
@use '../../styles/abstracts/var';

.workcard{
    @include mixin.flex-center;
    flex-direction: column-reverse;
    background-color: white;
    border-radius: 5px;
    gap: 20px;
    padding: 40px;
    width: 45%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    &:hover{
        transform: scale(1.03);
        box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    }
    &__image{
        width: 450px;
        height: auto;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }
    &__description{
        @include mixin.flex-center;
        flex-direction: column;
        gap: 15px;
        &__date{
            background-color: var.$primary-color;
            color: white;
            padding: 10px 30px;
            border-radius: 20px;
        }
    }
}